### IntelliJ IDEA ###
.idea/
*.iml
git rm --cached .idea/
git rm --cached <имя_файла>.iml
git add .
git commit -m "Удалены файлы и папки IntelliJ IDEA из Git зависимости"


out/
!**/src/main/**/out/
!**/src/test/**/out/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
